header, footer, article, nav, aside {
    padding: 20px;
    background: darkgoldenrod;
}

#mainArticle > div {
    background: darkolivegreen;
}

body {
    display: grid;
    grid-template-columns: 20% 1fr 15%;
    grid-template-rows: 60px 1fr 60px;
    grid-gap: 10px;
    margin: 0;
    height: 100vh;
    grid-template-areas:
    "header header header"
    "nav main ads"
    "footer footer footer";
}

.div {
    width: 100px;
}

#pageHeader {
    grid-area: header;
}

#mainArticle {
    grid-area: main;
}

#mainNav {
    grid-area: nav;
}

#ads {
    grid-area: ads;
}

#pageFooter {
    grid-area: footer;
}

/* #childGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
} */

#childGrid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media screen and (max-width: 600px) {
    body {
        grid-template-columns: 320px;
        grid-template-rows: 60px 60px 1fr 50px 70px;
        grid-template-areas:
        "nav"
        "header"
        "main"
        "ads"
        "footer";
    }

    #childGrid {
        flex-direction: column;
    }
}