@font-face {
    font-family: 'Tangerine';
    src: url('font1.woff2');
}

p {
    color: coral;
    font-family: 'Oxygen', sans-serif;
    border: 1px solid;
}

b {
    color: aquamarine;
}

p b {
    color: inherit;
}

.fade {
    color: red;
    font-size: large;
}

p.cool {
    color: green;
    font-family: 'Tangerine';
    font-size: 36px;
    font-weight: 100;
}

#smallTxt {
    color: gold;
}

#smallTxt::first-letter {
    color: blue;
}

article>header {
    color: red;
}

body>table:nth-child(16)>tbody>tr:nth-child(4)>td:nth-child(3) {
    color: red;
}

ul>li {
    display: inline;
    background-color: #EEE;
    border: 1px solid;
    border-color: #F3F3F3 #BBB #BBB #F3F3F3;
    margin: 2px;
    padding: .5em;
}

.units {
    background: cornflowerblue;
    border: 1px solid;
    /* width: 500px; */
    width: 50%;
    height: 500px;
    border-radius: 25px;
    box-shadow: 10px -10px 5px 3px grey;
}

.units div {
    background: radial-gradient(50% 50%, 70% 70%, black, brown);
    width: 50%;
    height: 25vh;
    font-size: 20px;
}

.columns {
    background: radial-gradient(50% 50%, 70% 70%, black, brown);
    column-count: 3;
    column-gap: 3em;
    column-rule: blueviolet solid;
    hyphens: auto;
}

img {
    opacity: 0.3;
}